.button {
  background-color: #e6e4e1;
  border-radius: 999px;
  width: 2em;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  appearance: none;
  font-size: 1rem;
  transition:
    background-color 150ms ease,
    color 150ms ease;
}

.button:hover {
  background-color: #c43d3d;
  color: white;
}
